.dashboard-column {
    display:inline-block;
    float:left;
    width:25%;
}
.dashboard-columns-3 .dashboard-column {
    width:33.3%;
}

.ui-sortable-placeholder {
    border: 1px dotted black;
    visibility: visible !important;
    margin-bottom: 1.7em !important;
}
.ui-sortable-placeholder * {
    visibility: hidden;
}
.portletwrapper {
    background-color: white;
    padding-right:1em;
    padding-left:1em;
}
#dashboard .portletHeader {
    cursor: move;
}

/* @group dashboard actions */
.portletHeader {
  position: relative;
}
.portletHeader .portletActionsWrapper {
  float: right;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(245, 250, 254, 0.9);
  border-left: 1px solid #E7ECF0;
  padding: 0.4em 1em 0 0.5em;
}
.portlet:hover .portletHeader .portletActionsWrapper {
  display: block;
}

dl.portlet dt .portletActionsWrapper a,
dl.portlet dt .portletActionsWrapper span {
  background: url(++resource++ftw.dashboard.dragndrop.resources/portlet_actions.png) no-repeat;
  width: 16px;
  min-height: 20px;
  margin-left: 3px;
  display: inline-block;
}

.portletCalendar dt a#calendar-previous {
    float: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.portletCalendar dt a#calendar-next {
    float: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}


dl.portlet dt .portletActionsWrapper a:first-child {
  margin-left: 0;
}
dl.portlet dt .portletActionsWrapper span.buttonMove {
  background-position: 0 0;
}
dl.portlet dt .portletActionsWrapper span.buttonMove:hover {
  background-position:0 -50px;
}
dl.portlet dt .portletActionsWrapper a.buttonEdit {
  background-position:0 -100px;
}
dl.portlet dt .portletActionsWrapper a.buttonEdit:hover {
  background-position:0 -150px;
}
dl.portlet dt .portletActionsWrapper a.buttonClose {
  background-position:0 -200px;
}
dl.portlet dt .portletActionsWrapper a.buttonClose:hover {
  background-position:0 -250px;
}
dl.portlet dt .portletActionsWrapper a.buttonOpen {
  background-position:0 -300px;
}
dl.portlet dt .portletActionsWrapper a.buttonOpen:hover {
  background-position:0 -350px;
}
dl.portlet dt .portletActionsWrapper a.buttonRemove {
  background-position:0 -400px;
}
dl.portlet dt .portletActionsWrapper a.buttonRemove:hover {
  background-position:0 -450px;
}
.portletCalendar dt.portletHeader {
  text-align: left;
}

/* @end */


span.noEntries {
    width:20.6em;
    display:block;
    padding:0.5em;
}

.folded dd, .folded form{
    display: none;
    visibility: hidden;
    width:100%;
}


/* Dashboard */
#dashboard-add-portlet form{
	float:left;
	display:block;
}

div#dashboard #dashboard-add-portlet {

    text-align:left;
    padding-top:1em;
}

body.section-konto div#portal-column-two {
    margin-top:8.2em;
}

/* Remove dashboard dialog */
.template-dashboard .ui-widget-header,
.template-manage-dashboard .ui-widget-header{
  display:none;
}
#remove-portlet-dialog {
  font-weight: bold;
  font-size: 1.25em;
  padding-top: 2em;
  text-align: center;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  text-align: center;
  float: none;
}
